<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"
          media="screen"/>
    <script src="https://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
    <script>
        $(document).ready(function() {
            $(".btnCart").on('click',function(){
                var id = this.getAttribute("id");
                console.log(id);
                $.ajax({
                    url: '/cart/add/'+ id,
                    method: 'POST'
                }).success(function(data) {
                    console.log("Item Added")
                });
            });
        });
    </script>
    <title>Consumer Dashboard</title>
</head>
<body>
    <div th:include="fragments/navbar :: navbar">Header</div>
    <div th:replace="fragments/header :: header"></div>
    <br/>
    <br/>
        <h1>Welcome to Food Delivery Service</h1>
    <br/>
        <h2>We are here to serve you</h2>
    <br/>


     <p>
        <a href="/register" th:href="@{/register}" class="btn btn-large btn-success">Register</a>
    </p>


    <div th:replace="fragments/footer :: footer">&copy; 2013 The Static Templates</div>
</body>
</html>