<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"
          media="screen"/>
    <script src="https://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
    <title>Welcome to Business Dashboard</title>
</head>
<body>

<br/>
<h1>Welcome to Business Dashboard</h1>


<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>


<form th:action="@{/business/edit/}+${session.user.id}" method="post">
    <input type="submit" value="Add more Data"/>
</form>



</body>
</html>