<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"
          media="screen"/>
    <script src="https://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
    <title>Your Order History</title>
</head>
<body>

<div th:include="fragments/navbar :: navbar">Header</div>

<div class="container" style="margin: inherit">
    <div><a th:href="${'/'}">Go to HOME</a></div>
    <div><a th:href="${'/order'}">Back to ORDER</a></div>

    <div th:if="${not #lists.isEmpty(orderGroupList)}">
        <h2>Details</h2>
        <table class="table table-striped">
            <tr>
                <th>#</th>
                <th>Item</th>
                <th>Price</th>
            </tr>
            <tr th:each="orderGroup : ${orderGroupList}">
                <td></td>
                <td th:text="${orderGroup.item.name}"></td>
                <td th:text="${'$'+orderGroup.item.price}">$</td>
            </tr>
        </table>
    </div>

</div>

</body>
</html>